<h2 class='game--status {{this.nowPlaying}}'>{{this.status}} </h2>

<div
  class='game--grid
    {{this.nowPlaying}}
    {{if this.gameActive "active" "inactive"}}'
  {{on 'click' this.click}}
>
  {{#each this.grid as |cell index|}}
    <div data-cell-id='{{index}}' class='cell {{cell}}'></div>
  {{/each}}
</div>

<RestartButton {{on 'click' this.restart}} />